.register-page{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reg-page-header{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
}
.register-nav{
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-nav button{
    position: relative;
    background: transparent;
    margin-inline: 40px;
    border: 1px solid #00a7ac33;
    border-radius: 50px;
    padding: 3px 43px;
    font-weight: 500;
    font-size: 1.125rem;
}

.register-main{
    position: relative;
    width: 100%;
    height: 75%;
}

.register-form-content{
    position: inherit;
    background: #fff;
    border: 1px solid #00a7ac1f;
    border-radius: 10px;
    padding: 50px 70px;
    margin-top: 5%;
}

.register-form-content .reg-input:focus{
    border-color: #00a7ac;
}

.reg-btn{
    position: relative;
    width: 70%;
    height: 100%;
    padding: 20px 0;
    background-color: #00a7ac;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
