.App {
  position: fixed;
  width: 100%;
  height: 100%;
}

.portal-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90%;
}

.portal-container .main-header,
.portal-container .main-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.portal-container .main-content{
  height: 100vh;
}
